.carousel {
    font-size: 0;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    .scroll {
        will-change: transform;
        position: relative;
        z-index: -1;
        width: max-content;
        white-space: nowrap;
        overflow: hidden;
        left: -100%;
        .slider {
            float: left;
            background: center/contain no-repeat;
        }
    }
    .pagination {
        position: absolute;
        font-size: 0;
        width: 100%;
        left: 0;
        bottom: 20px;
        text-align: center;
        .dot {
            & + .dot {
                margin-left: 10px;
            }
            &.current {
                background: rgba(#666, 0.7);
            }
            display: inline-block;
            width: 10px;
            height: 10px;
            background: #000;
            border-radius: 50%;
            background: rgba(#bbb, 0.6);
            transition: width 1s;
        }
    }
    .button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgba(31, 45, 61, 0.11) center/30px no-repeat content-box;
        display: inline-block;
        position: absolute;
        top: calc(50% - 25px);
        z-index: 1;
        transition: all 0.5s;
        opacity: 0;
        &:hover {
            background-color: rgba(31, 45, 61, 0.4);
        }
        &.prev-button {
            left: -50px;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAAAdElEQVR4Ae3MgQWAUBSG0StStE0hSEBEIKBlmikAAgRoizaIRCp9DfF+Ee8McMz7kkdErGhCRiYSRQMwEyiah07R3JrmotU0jaI5Nc1BZS4YAIDe3FBxAnBQqKpdWeWqalNWqapaddVCoKh2MnNHTWl/4Xkvt7enksKM+HYAAAAASUVORK5CYII=');
        }
        &.next-button {
            right: -50px;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAAAdElEQVR4Ae3MgQWAUABF0SopABGhdSIE0FQBQgQEBAiCtgiEoDkKN2mE/6L4Z4DjvM2yCIkUjc/ETGDaeAwAxhUuPaiqTlA9lFXzyarWVS2P0azJ2AE4yE2aVNVsiiZRNauiiTWNzyJoblScguZGSeH8kWVdfkiqCeFvghMAAAAASUVORK5CYII=');
        }
    }
    &:hover {
        .button {
            opacity: 1;
            &.prev-button {
                left: 10px;
            }
            &.next-button {
                right: 10px;
            }
        }
    }
}
